
.nav-custom{
       backdrop-filter:blur(10px) ;
    background-color: #dcdad3;
    
}

.transition{
    transition: 500ms;
}

@media screen and (min-width:750px) {
  .nav-custom {
    margin: 5vh 3vw;
    border: 1px solid black ;
    border-radius: 8px;
    backdrop-filter:blur(10px) ;
    background-color:#dcdad3a2;
    z-index: 1000;
   position: sticky;
   top: 10px;

  }  
}

.img-navbar {
    max-width: 60px;
    height: auto; 
    display: block; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin: auto 0; 
}

/* DROPDOWN MENU  */

.dropdown-menu {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    
}

.dropdown-menu li {
    list-style: none; 
}

.dropdown-menu li a {
    display: block; 
    padding: 8px 12px; 
    color: #000000; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.dropdown-menu li a:hover {
    background-color: #f4f4f4; 
}

.custom-link {
    text-decoration: none; 
    transition: color 0.3s; 
}

.custom-link:hover {
    color: rgb(61, 61, 67); 
}

/* BOTTONE NAVBAR  */
.buttondrop{
    
    background-color: white!important;
    color: black !important;
    /* padding: 15px 50px; */
    /* border-radius: 10px!important; */
    transition: 0.8s!important;
    position: relative!important;
    overflow: hidden!important;
}
.btndrop{
    color: black!important;
}
.btndrop:hover{
    background-color: black!important;
    color: white!important;
}
.buttondrop::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    z-index: -1;
    transition: 0.8s;
}
.btndrop::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btndrop:hover::before{
    height: 180%;
}
