/* header careers */

.header-careers{
  background-image: linear-gradient(rgba(158, 156, 156, 0.633), rgba(89, 89, 89, 0.392)), url("/public/image/careers.jpg");
  height: 90vh;
}


/* btn header */
.button-header{ 
  background-color: var(--c-tertiary)!important;
  color: var(--c-secondary) !important;
  padding: 15px 50px;
  border: 2px solid rgb(20, 11, 11, 0.251) ;
  border-radius: 15px!important;
  transition: 1s!important;
  position: relative!important;
  overflow: hidden!important;
}
.btn-header{
  color: var(--c-secondary)!important;
}
.btn-header:hover{
  background-color: var(--c-secondary)!important;
  color: var(--c-tertiary)!important;
}
.button-header::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--c-secondary);
  z-index: -1;
  transition: .5s;
}
.btn-header::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn-header:hover::before{
  height: 180%;
}

/* btn header-2 */
.button-header-2{ 
  /* background-color: var(--c-tertiary)!important; */
  backdrop-filter:blur(10px) ;
  background-color: rgba(221, 234, 234, 0.066);
  color: var(--c-secondary) !important;
  padding: 15px 50px;
  border: 2px solid rgb(20, 11, 11, 0.251) ;
  border-radius: 15px!important;
  transition: 1s!important;
  position: relative!important;
  overflow: hidden!important;
}
.btn-header-2{
  /* color: var(--c-secondary)!important; */
  backdrop-filter:blur(10px) ;
  background-color: rgba(221, 234, 234, 0.066);
}
.btn-header-2:hover{
  /* background-color: var(--c-secondary)!important; */
  backdrop-filter:blur(10px) ;
  background-color: rgba(221, 234, 234, 0.066);
  color: var(--c-tertiary)!important;
}
.button-header-2::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  /* background-color: var(--c-secondary); */
  backdrop-filter:blur(10px) ;
  background-color: rgba(221, 234, 234, 0.066);
  z-index: -1;
  transition: .5s;
}
.btn-header-2::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn-header-2:hover::before{
  height: 180%;
}
/* fine header careers */



/* Bottone invia la tua candidatura  */
.button-application{ 
    background-color: var(--c-tertiary)!important;
    color: var(--c-secondary)!important;
    padding: 10px;
    border: 2px solid rgb(20, 11, 11, 0.251) ;
    border-radius: 15px!important;
    transition: 0.8s!important;
    position: relative!important;
    overflow: hidden!important;
}

.button-application:hover{
    background-color: var(--c-primary)!important;
    color: var(--c-tertiary)!important;
}

/* Sezione descrizione candidatura */
.custom-work{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-img {
    background-image: url(/public/image/amministratore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  var(--c-primary);
  }
  .work-img-2 {
    background-image: url(/public/image/revisore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  var(--c-primary);
  }
  .work-img-3 {
    background-image: url(/public/image/redattore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  var(--c-primary);
  }
 

  
  