/* Bottone invia la tua candidatura  */
.button-application{ 
    background-color: var(--c-tertiary)!important;
    color: black !important;
    padding: 10px;
    border: 2px solid rgb(20, 11, 11, 0.251) ;
    border-radius: 15px!important;
    transition: 0.8s!important;
    position: relative!important;
    overflow: hidden!important;
}

.button-application:hover{
    background-color: #08415cad!important;
    color: white!important;
}

/* Sezione descrizione candidatura */
.custom-work{
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-img {
    background-image: url(/public/image/amministratore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  #08415cad;
  }
  .work-img-2 {
    background-image: url(/public/image/revisore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  #08415cad;
  }
  .work-img-3 {
    background-image: url(/public/image/redattore.jpg);
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    /* border: 2px solid darkred; */
    border-radius: 56% 44% 33% 57% / 34% 48% 41% 38%;
    box-shadow: 6px 6px 20px 5px  #08415cad;
  }
 

  
  